.fondo-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Ajusta la altura según sea necesario */
}

.fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el overlay */
    z-index: 0; /* Asegura que la imagen esté detrás del título */
}

.title {
    position: absolute;
    top: 170px; /* Ajusta la posición vertical del título según sea necesario */
    left: 100px; /* Ajusta la posición horizontal del título según sea necesario */
    color: #000000; /* Color del texto */
    font-size: 55px; /* Tamaño de la fuente del título */
    font-weight: bold;
    font-family: "Libre Baskerville", serif;
    z-index: 1; /* Asegura que el título esté encima de la imagen */
}

.title2 {
    position: absolute;
    top: 300px; /* Ajusta la posición vertical del título según sea necesario */
    left: 100px; /* Ajusta la posición horizontal del título según sea necesario */
    color: #000000; /* Color del texto */
    font-size: 30px; /* Tamaño de la fuente del título */
    font-weight: bold;
    font-family: "Libre Baskerville", serif;
    z-index: 1; /* Asegura que el título esté encima de la imagen */
}

.btn{
    position: absolute;
    top: 400px; /* Ajusta la posición vertical del título según sea necesario */
    left: 100px; /* Ajusta la posición horizontal del título según sea necesario */
    color: #000000; /* Color del texto */
    background-color: #34aac5;
    font-size: 25px; /* Tamaño de la fuente del título */
    z-index: 1;
}