body {
    font-family: "Libre Baskerville", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fondo-container {
    position: relative;
    width: 100%;
    height: 100vh;/* Full viewport height */
    overflow: hidden;
}

.fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.title, .title2, .btn {
    position: absolute;
    left: 10%;
    color: #000;
    z-index: 1;
    text-align: left;
}

.title {
    top: 15%;
    font-size: 3rem;
    font-weight: bold;
}

.title2 {
    top: 35%;
    font-size: 1.5rem;
}

.btn {
    top: 50%;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    background-color: #34aac5;
    border: none;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.container {
    margin-top: 50px;
    padding: 1rem;
}

.card {
    margin-bottom: 1rem;
}

.card h6 {
    text-align: center;
    font-weight: bold;
    font-family: "Libre Baskerville", serif;
    font-size: x-large;
}

.card-img-top-1 {
    position: relative;
    width: 60px;
    height: 60px;
}

.card-img-top-2 {
    position: relative;
    width: 300px;
    height: 300px;
    top: -30px;
}

.servicios {
    margin-top: 50px;
    padding: 2rem 1rem;
    background-color: #BCEAD5;
    text-align: center;
}

.servicios h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.subtitulo {
    font-size: 1.2rem;
}

.servicios2 .container {
    max-width: 1200px;
    margin: 0 auto;
}

.h1 {
    font-weight: bold;
}

h3 {
    font-weight: bold;
    font-family: "Libre Baskerville", serif;
}

p {
    font-size: 1.2rem;
}

.container h2 {
    font-weight: bold;
    font-family: "Libre Baskerville", serif;
}

/* .fondo-container2 {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    background: rgb(222,245,229);
    background: linear-gradient(155deg, rgba(222,245,229,1) 0%, rgba(142,195,176,1) 0%);
} */


.fondo-container2 {
    position: relative;
    width: 100%;
    height: 50vh; /* Adjusted height */
    overflow: hidden;
    /* background: rgb(222,245,229); */
    background: linear-gradient(rgba(142,195,176,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-centered {
    font-size: 3rem;
    font-weight: bold;
    color: #000000;
    text-align: center;
    z-index: 1;
    font-family: 'Poppins', sans-serif;
    padding: 0 10%;
}

@media (max-width: 768px) {
    .title {
        font-size: 2rem;
        top: 5%;
    }

    .title2 {
        font-size: 1.2rem;
        top: 20%;
    }

    .btn {
        top: 35%;
        font-size: 0.9rem;
    }

    .card-img-top-2 {
        width: 200px;
        height: 200px;
        top: -20px;
    }
}

@media (max-width: 576px) {
    .title {
        font-size: 1.5rem;
        top: 5%;
    }

    .title2 {
        font-size: 1rem;
        top: 15%;
    }

    .btn {
        top: 25%;
        font-size: 0.8rem;
    }

    .card-img-top-2 {
        width: 150px;
        height: 150px;
        top: -10px;
    }
}

.btn-contacto {
    background-color: #34aac5; 
    color: #fff; 
    border: none;
    padding: 10px 20px; 
    font-size: 16px; 
    text-decoration: none;
    border-radius: 10px;
}

.btn-contacto:hover {
    background-color: #34aac5; 
}


.card-contacto {
    border-radius: 20px;
    border: 3px solid #ccc;
}


.card-header-custom {
    background-color: #34aac5;
    color: white;
    border-radius: 20px; /* Aplica un borde redondeado a todos los lados */
    border-bottom: none; /* Elimina el borde inferior para evitar duplicaciones */
}

.card-footer {
    background-color: #34aac5;
    color: white;
    border-radius: 20px; /* Aplica un borde redondeado a todos los lados */
    border-top: none; /* Elimina el borde superior para evitar duplicaciones */
}



.banner-image {
    width: 100%; /* Establece el ancho al 100% del contenedor */
    max-height: 80%; /* Establece una altura máxima para el banner */
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor */

}

.title-planes {
    position: absolute;
    left: 10%;
    color: #ffffff;
    z-index: 1;
    text-align: left;
}

.title-planes {
    top: 15%;
    font-size: 6rem;
    font-weight: bold;
}




