{% extends 'base.html' %}
{% load static %}

{% block body %}
<body>
    <div class="container mt-5">
        <figure class="mb-5">
          <blockquote class="blockquote text-center">
            <h1>Empresas que colaboran con <strong> <cite title="Source Title"> nosotros</cite> </strong></h1>
          </blockquote>
        </figure>

        <div class="row">
            <div class="col">
                <div class="gif-container">
                  <img src="{% static 'img/Promo 1 - Umbrella GIF.gif' %}" class="banner-image" alt="Promo 1">
                  <!-- <a href="{% url 'umbrella' %}" style="position: absolute; top: 1535px; left: 390px; width: 240px; height: 40px;"></a> -->
                </div>
              </div> 
        </div>
    </div>
</body>
{% endblock %}
