{% extends 'base.html' %}
{% load static %}


{% block head %}
<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap"
  rel="stylesheet">
{% endblock head %}

{% block body %}

<div class="fondo-container">
  <h1 class="title">Agencia publicitaria
    <br>
    para tu empresa
  </h1>
  <h2 class="title2">
    Aumenta las ventas
    <br>
    en tu sitio web
  </h2>
  <a class="btn" href="{% url 'productos' %}" role="button"> Planes </a>
  <img src="{% static 'img/fondo.png' %}" class="fondo img-fluid">
</div>

<div class="container text-center">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h2>Nuestros Beneficios</h2>
          <p class="primer card-text"> Agencia de publicidad en Chile</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="h-100">
        <img src="{% static 'img/ad.png' %}" class="card-img-top-1">
        <div class="card-body">
          <h3 class="card-title">Publicidad</h3>
          <p class="card-text">Incrementa las visitas a tu página web y redes sociales 24/7/365...
            Además de más de 1.5 mil millones de usuarios únicos mensuales </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="h-100">
        <img src="{% static 'img/flexibilidad.png' %}" class="card-img-top-1">
        <div class="card-body">
          <h3 class="card-title"> Flexibilidad </h3>
          <p class="card-text"> Prueba múltiples formatos de anuncios en una campaña y controla el rendimiento en tiempo
            real.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="h-100">
        <img src="{% static 'img/seguridad.png' %}" class="card-img-top-1">
        <div class="card-body">
          <h3 class="card-title"> Seguridad </h3>
          <p class="card-text"> Controla dónde se publican tus anuncios y qué los rodea. </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="h-100">
        <img src="{% static 'img/statistics.png' %}" class="card-img-top-1">
        <div class="card-body">
          <h3 class="card-title"> Resultados </h3>
          <p class="card-text">Se observa constantemente el desempeño de anuncios, quitamos lo que no funciona y
            escalamos anuncios ganadores. </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="h-100">
        <img src="{% static 'img/planner.png' %}" class="card-img-top-1">
        <div class="card-body">
          <h3 class="card-title"> Planificación </h3>
          <p class="card-text"> Preparamos un plan de medios profesional, considerando el comercio, valor de ticket
            promedio y rendimientos de cada plataforma.</p>
        </div>
      </div>
    </div>
  </div>

</div>


<div class="servicios text-center vstack gap-2 mx-auto">
  <figure>
    <blockquote class="blockquote">
      <h1>Algunos de nuestros Servicios.</h1>
    </blockquote>
    <figcaption class="subtitulo blockquote-footer">
      Todo lo que tu negocio necesita para convertirse en una máquina
      <strong> <cite title="Source Title"> de hacer dinero.</cite> </strong>
    </figcaption>
  </figure>
  <div class="servicios2">
    <div class="container px-4 text-center">
      <div class="row gx-5">
        <div class="col">
          <div class="p-3">
            <p class="h1">Google Ads</p>
            <p> Las plataformas y herramientas que Google ofrece la convierte en la opción ideal para manejar una
              estrategia de Marketing Digital entera.
              Nos permitirá adquirir nuevos clientes, perseguir con campañas de remarketing a usuarios que están aún en
              la etapa de interés y también
              capturar a clientes que tienen altas probabilidades de compra. </p>
          </div>
        </div>
        <div class="col">
          <div class="p-3">
            <img src="{% static 'img/google.png' %}" class="card-img-top">
          </div>
        </div>
      </div>
    </div>
    <div class="container px-4 text-center">
      <div class="row gx-5">
        <div class="col">
          <div class="p-3">
            <img src="{% static 'img/web.png' %}" class="card-img-top-2">
          </div>
        </div>
        <div class="col">
          <div class="p-3">
            <p class="h1">Diseño Web</p>
            <p>Crea tu pagina web para obtener más visibilidad en línea, visitas y ventas. Nuestros expertos en desarrollo web crean experiencias 
              estratégicas y atractivas que refuerzan la credibilidad, comunican los mensajes de tu marca y convierten a los 
              visitantes en ventas y ganancias.  </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div id="contacto" class="text-center vstack gap-2 mx-auto mt-5">
    
    <div class="card text-center card-contacto">
      <figure>
        <blockquote class="blockquote mt-5">
          <h1>Contacto</h1>
        </blockquote>
        <figcaption class="subtitulo blockquote-footer">
          Todo lo que tu negocio necesita para convertirse en una máquina
          <strong> <cite title="Source Title"> de hacer dinero.</cite> </strong>
        </figcaption>
      </figure>
      
      <div class="card-body">
        <form id="contactoForm" class="needs-validation" novalidate>
          <div class="row">
            <div class="col-6">
              <input type="text" class="form-control mb-4" id="nombreApellido" placeholder="Nombre y Apellido" aria-label="Nombre y Apellido" required>
              <div class="invalid-feedback">
                Por favor ingrese su nombre y apellido.
              </div>
            </div>
            <div class="col-6">
              <input type="tel" class="form-control mb-4" id="telefono" placeholder="Teléfono" aria-label="Telefono" required>
              <div class="invalid-feedback">
                Por favor ingrese un número de teléfono válido.
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <input type="email" class="form-control mb-4" id="correo" placeholder="Correo Electrónico" aria-label="Correo" required>
              <div class="invalid-feedback">
                Por favor ingrese un correo electrónico válido.
              </div>
            </div>
            <div class="col-6">
              <input type="text" class="form-control mb-4" id="empresa" placeholder="Nombre de la Empresa" aria-label="Empresa" required>
              <div class="invalid-feedback">
                Por favor ingrese el nombre de la empresa.
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-floating">
                <textarea class="form-control mb-3" id="mensaje" placeholder="Mensaje" style="height: 200px" required></textarea>
                <label for="mensaje">Mensaje</label>
              </div>
              <div class="invalid-feedback">
                Por favor ingrese un mensaje.
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button type="button" id="enviarBtn" class="btn-contacto mt-5">Enviar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- <div class="fondo-container2">
  <h1 class="title">Agencia publicitaria
    <br>
    para tu empresa
  </h1>
  <h2 class="title2">
    Aumenta las ventas
    <br>
    en tu sitio web
  </h2>
  <img src="{% static 'img/header.jpeg' %}" class="fondo img-fluid">
</div> -->


<!-- <div class="fondo-container2">
  <h1 class="title"> ¿Estas listo para atraer más clientes a tú negocio?</h1>
</div> -->

<div class="fondo-container2">
  <h1 class="title-centered">¿Estás listo para atraer más clientes a tu negocio?</h1>
</div>

{% block js %}
<script src="{% static 'js/pago.js' %}"></script>
{% endblock %}
{% endblock %}