{% extends 'base.html' %}
{% load static %}

{% block body %}
<body>
    <div class="container mt-5">
        <div class="row gx-5 text-center mt-5 mb-5">
            <h1>Productos</h1>
        </div>
        <div class="row">
            <div class="col-4 mt-5 mb-5">
                <div class="card" style="width: 24rem;">
                    <img src="{% static 'img/1.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4 mt-5 mb-5">
                <div class="card" style="width: 24rem;">
                    <img src="{% static 'img/1.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4 mt-5 mb-5">
                <div class="card" style="width: 24rem;">
                    <img src="{% static 'img/1.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4 mt-5 mb-5">
                <div class="card" style="width: 24rem;">
                    <img src="{% static 'img/1.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4 mt-5 mb-5">
                <div class="card" style="width: 24rem;">
                    <img src="{% static 'img/1.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4 mt-5 mb-5">
                <div class="card" style="width: 24rem;">
                    <img src="{% static 'img/1.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4 mt-5 mb-5">
                <div class="card" style="width: 32rem;">
                    <img src="{% static 'img/1.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
{% endblock %}
