{% extends 'base.html' %}
{% load static %}

{% block body %}
<body>
    <div class="container mt-5">
        <div class="row gx-5 text-center mt-5 mb-5">
            <h1>Productos</h1>
        </div>
        <div class="row">
            {% for suscripcion_con_paypal in suscripciones_con_paypal %}
            <div class="col-4">
                <div class="card text-center">
                    <div class="card-header">
                      Suscripción {{ suscripcion_con_paypal.suscripcion.id_suscripcion }}
                    </div>
                    <div class="card-body">
                      <h3 class="card-title">{{ suscripcion_con_paypal.suscripcion.nombre_suscripcion }}</h3>
                      <p class="card-text" style="font-size: 20px;">${{ suscripcion_con_paypal.suscripcion.precio_suscripcion }}</p>
                      <p class="card-text">{{ suscripcion_con_paypal.suscripcion.descripcion_suscripcion }}</p>
                    

                      {{ suscripcion_con_paypal.paypal.render }}
                    </div>
                    <div class="card-footer text-body-secondary">
                      2 days ago
                    </div>
                  </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
{% endblock %}
